@import url('fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #00B68A;
  --color-primary-contrast: #fff;
  --header-font: 'Basement Grotesque', sans-serif;
  --body-font: 'Calluna', serif;
  --button-color: #E88C38;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: 16px;
  color: #333;
  background-color: #f5f5f5;
}